@inject Teams.Client.Data.TeamsService service;
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""> <logo></logo>Teams</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @if (menuList != null)
        {
            @foreach (var menuItem in menuList)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@menuItem.Name" Match="NavLinkMatch.All">
                        <span class="oi @menuItem.Icon" aria-hidden="true"></span> @menuItem.Title
                    </NavLink>
                </li>
            }
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    public MenuModel[] menuList;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    protected override async Task OnInitializedAsync()
    {
        menuList = await service.GetMenu();
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
