@inject StateManagenment state
@inject NavigationManager NavigationManager
@if (state.userState != null)
{
    <div class="assing-board-combo" @onclick="DropdownClick"><RadzenDropDown AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data="@teams" TextProperty="Name" ValueProperty="ID" Change="ChangeTeams" @bind-Value="teamID"></RadzenDropDown></div>

}
@code{
    TeamModel[] teams;
    int teamID;
    TeamModel defaultTeam = new TeamModel
    {
        ID = 0,
        Name = "No Teams"
    };
    public async Task DropdownClick()
    {
        if (state.userState.TeamList != null)
        {
            List<TeamModel> temp = state.userState.TeamList.ToList();
            temp.Insert(0, defaultTeam);
            teams = temp.ToArray();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        if (state.userState.TeamList != null)
        {
            List<TeamModel> temp = new List<TeamModel>();
            temp = state.userState.TeamList.ToList();
            if (state.team != null)
            {
                teamID = state.team.ID;
            }
            temp.Insert(0, defaultTeam);
            teams = temp.ToArray();
            state.team = defaultTeam;
        }
        else
        {
            List<TeamModel> temp = new List<TeamModel>();
            if (state.team != null)
            {
                teamID = state.team.ID;
            }
            temp.Insert(0, defaultTeam);
            teams = temp.ToArray();
            state.team = defaultTeam;
        }
    }
    public async Task ChangeTeams()
    {
        if (state.userState.TeamList != null)
        {
            List<TeamModel> temp = state.userState.TeamList.ToList();
            temp.Insert(0, defaultTeam);
            teams = temp.ToArray();
        }
        if (teamID == 0)
        {
            state.team = defaultTeam;
        }
        else
        {
            state.team = state.userState.TeamList.FirstOrDefault(p => p.ID == teamID);
        }
        StateHasChanged();
        NavigationManager.NavigateTo("/manage-team");
    }
}
