<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TeamsDbEntities" connectionString="metadata=res://*/TeamsDataEntity.csdl|res://*/TeamsDataEntity.ssdl|res://*/TeamsDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E6935KN\SQLEXPRESS;initial catalog=TeamsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>